<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-start">Bienvenido, {{ nombre }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirPerfil()">
        <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let curso of cursos">
      <ion-label>
        <h2>{{ curso.codigo }}</h2>
        <h3>{{ curso.nombre }}</h3>
        <p>Sección: {{ curso.seccion }}</p>
      </ion-label>
      <ion-button fill="outline" slot="end" (click)="verCurso(curso)">
        Ver asistencia
      </ion-button>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="danger" (click)="volverALogin()">
    Volver a login
  </ion-button>
</ion-content>