<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cursosalumno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input type="password" label="Confirmar Contraseña" placeholder="Repita una contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Correo electrónico" placeholder="Ingrese su correo electronico"></ion-input>
  </ion-item>
  <ion-button expand="block" color="success">
    Atrás
  </ion-button>

  <ion-button expand="block" color="danger">
    Volver a Cursos
  </ion-button>
</ion-content>
