<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <p>Aquí va una simulación de cámara o un icono de cámara</p>
  <img src="assets/icon/camera.png" alt="Mock camera">

  <ion-button expand="block" (click)="simularEscaneo()">
    Simular escaneo QR
  </ion-button>

  <ion-button expand="block" color="danger" (click)="volverACursos()">
    Volver
  </ion-button>
</ion-content>
